*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --bg: url('imagens/auto_retrato.webp');
    --frame-w: 500px;
    --frame-h: 700px;
    --border: 2px solid;
    --bg-color: #FFFDD0;
}

html {
    display: flex;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    justify-content: center;
    min-height: 100%;
    background-color: var(--bg-color);
}


/* _____ CABECALHO _____ */
header {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.cabecalho {
    color: darkred;
    letter-spacing: 2px;
    text-decoration: none;
    max-width: max-content;
    cursor: pointer;
}

.cabecalho:hover {
    color: white;
    -webkit-text-stroke: 1px red;
}

/* _____ FRENTE _____ */
main.frente {
    display: inline-grid;
}

.autoretrato {
    grid-area: 1 / 1;
    width: var(--frame-w);
    height: var(--frame-h);
    background-image: var(--bg);
    background-position: center;
    background-size: contain;
    border: var(--border);
    transition: filter 600ms ease-out;
}

main.frente:hover .autoretrato {
    z-index: -1;
    filter: invert(2);
    border-color: var(--bg-color);
    transition: filter 400ms ease-in;
}

nav.home {
    grid-area: 1 / 1;
    display: grid;
    font-family: monospace;
    font-weight: bold;
}

button.bttn {
    background: none;
    border: none;
    opacity: 0;
    cursor: pointer;
}

button.bttn:hover {
    background: var(--bg-color);
    border-top: var(--border);
    border-bottom: var(--border);
    opacity: 1;
}

button.bttn {
    font-size: 1.5rem;
    font-family: monospace;
    font-weight: bolder;
    letter-spacing: 3px;
}


/* _____ VERSO _____ */
main.verso {
    display: none;
    grid-area: 1 / 1;
    width: var(--frame-w);
    height: var(--frame-h);
    border: var(--border);
    border-right: none;
}

section {
    grid-area: 1 / 1;
    padding-left: 20px;
    text-align: left;
    letter-spacing: 0.05rem;
    width: 53ch;
    letter-spacing: .05em;
    line-height: 1.3rem;
}

#bio {
    display: none;
}

#cur {
    display: none;
}

#por {
    display: none;
}

#con {
    display: none;
}

#con img {
    height: 310px;
    padding-left: 60px;
    padding-top: 20px;
}

nav.infos {
    grid-area: 1 / 2;
    display: grid;
    gap: 2px;
    max-height: 150px;
    min-width: 150px;
    padding-left: 25px;
}

button.bttnInfos {
    background: lightgreen;
    border: var(--border);
    cursor: pointer;
    letter-spacing: 0.05em;
    font-family: monospace;
    font-weight: bolder;
}

button.bttnInfos:hover {
    text-transform: uppercase;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer:hover {
    background: black;
}

@media screen and (max-width: 1660px) {
    :root {
        --frame-w: 425px;
        --frame-h: 520px;
    }

    html {
        font-size: 15px;
    }

    header {
        padding-top: 0;
    }

    section {
        width: 55ch;
        line-height: 1.15em;
    }

    nav.infos {
        padding-left: 15px;
    }

    #con img {
        height: 230px;
        padding-top: 15px;
    }

    button.bttnInfos {
        font-size: .75em;
    }

    footer {
        font-size: .9rem;
    }
}

@media screen and (max-width: 740px) {
    :root {
        --frame-w: 90vw;
        --frame-h: 120vw;
    }

    html {
        font-size: 1.2rem;
    }

    main.frente:focus {
        display: none;
    }

    main.verso {
        display: none;
        height: max-content;
        border: none;
    }

    nav.infos {
        grid-area: 1 / 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        padding: 0px;
        min-height: 100px;
    }

    section {
        grid-area: 2 / 1;
        width: 34ch;
        margin-top: 10px;
        border-left: var(--border);
        border-bottom: var(--border);
        padding-left: 10px;
    }

    #con img {
        height: 230px;
        padding-top: 15px;
        padding-left: 50px;
        margin-bottom: 20px;
    }
}